{% extends 'base.html.twig' %}


{% block body %}
    <h4>Création d'un projet</h4>
    

    {{ form_start(form) }}

        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('projets_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
