<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            <link href="{{ asset('css/materialize.css') }}" rel="stylesheet"/>
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
        {% endblock %}

        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Campus HEP</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="waves-effect waves-light btn">Connexion</a></li>
                    <li><a class="waves-effect waves-light btn">Inscription</a></li>
                </ul>
            </div>
        </nav>
    </head>

</html>
<body>
{% block body %}
{% endblock %}
</body>