{% extends 'base.html.twig' %}



{% block body %}

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Campus HEP</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn">Connexion</a></li>
            <li><a class="waves-effect waves-light btn">Inscription</a></li>
        </ul>
    </div>
</nav>

<h4>Projet : </h4><br>

    <a class="waves-effect waves-light btn-large">Créer équipe</a><br><br>

    <div class="row">
        <form class="col s6">
    <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Personne 1</label>
    </div>
            <div class="input-field col s6">
                <a class="btn-floating"><i class="material-icons">add</i></a>
                <a class="btn-floating"><i class="material-icons">add</i></a>
            </div>
        </form>
    </div>


    <div class="row">
        <form class="col s6">
    <table>
        <thead>
        <tr>
            <th>Nombre de personnes</th>
            <td>4</td>
        </tr>
        <tr>
            <th>Nom des personnes</th>
            <td>

                <select>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>


            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Nombre de jetons disponibles</th>
            <td>1800</td>
        </tr>
        <tr>
            <th>Date de début</th>
            <td>11/04/2018</td>
        </tr>
        <tr>
            <th>Date de fin</th>
            <td>25/04/2018</td>
        </tr>
        <tr>
            <th>Intervenants</th>
            <td>Mr.Barthon</td>
        </tr>
        </tbody>
    </table>
        </form>
    </div>















{% endblock %}